@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

:root {
  --color-text: #3c3b3b;
  --color-bg: #f4f4f4;
  --color-p: #808080;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  max-width: 100%;
}

#wrapper {
  background-color: #ccc;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}
p {
  color: var(--color-p);
  font: "Article Subtitle";
  font-size: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  background-color: var(--color-bg);
  font-size: 13px;
  text-transform: uppercase;
  color: var(--color-text);
}
.content {
  display: flex;
  align-items: center;
}
.main_title {
  padding: 10px;
  border-right: 1px solid #ccc;
}
.main_title a {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text);
}
.links_item {
  border-right: 1px solid #ccc;
  margin-right: 4px;
  padding: 10px;
}
.links_item a {
  opacity: 1;
  color: #828282;
}
#main {
  margin-left: 32px;
}

.container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.post {
  background-color: var(--color-bg);
  margin-top: 40px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.secondary_title h2 {
  margin-bottom: 16px;
}
.paragraph {
  font-family: "Article Description";
  font-size: 16px;
  margin: 10px 0;
}

.meta {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  font-size: 14px;
}
.published {
  font-family: "Source Sans Pro";
  font-size: 12px;
  color: var(--color-text);
}

.author {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.name {
  font-size: 10px;
}

.author img {
  margin-left: 5px;
  border-radius: 50%;
}

.mini-post {
  background-color: var(--color-bg);
  margin-top: 40px;
}
.header .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
}
.title {
  display: flex;
  justify-content: right;
}
.blurb {
  background-color: var(--color-bg);
  padding: 10px;
}

.button {
  background-color: #ffffff;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #3c3b3b;

  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 23px;
  text-decoration: none;
  margin: 10px 0;
}
.button:hover {
  background-color: #e1e1e1;
}
.button:active {
  position: relative;
  top: 1px;
}

.actions.pagination {
  margin-top: 20px;
  display: flex;
}

.actions.pagination span:first-of-type {
  margin-right: 35px;
  opacity: 0.6;
  color: #d5d5d5;
}

.actions.pagination span a:first-of-type {
  cursor: not-allowed !important;
}

.header .image img {
  width: 60px;
  margin-right: 10px;
}
.contents {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
